.display {
    width: 100%;
    height: 90px; 
    background-color: #24292e;
    display: flex; 
    justify-content: flex-end;
    align-items:center;
}

h1{
    color: white;
    margin-right: 15px;  
    font-size: 55px; 
}